<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<HTML>

<HEAD>
     <meta HTTP-EQUIV="Cache-Control" CONTENT="no cache">
     <meta HTTP-EQUIV="Pragma" CONTENT="no cache">
     <meta HTTP-EQUIV="Expires" CONTENT="0">
     <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">

     <TITLE>Verified By Visa</TITLE>

     <style>
          @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;display=swap');


          .payerForm {
               font-family: 'Roboto', sans-serif;
               padding: 20px;
               border: 1px solid #ccc;
               font-size: 14px;
               line-height: 18px;

          }

          .payerForm td {
               padding: 4px;
          }

          .footNotes {
               padding-top: 35px;
               padding-bottom: 20px;
          }

          .input-txt {
               width: 85%;
               padding: 5px;
          }

          input[type="text"],
          .input-txt {
               padding: 5px;
          }

          input#submit {
               padding: 5px 15px;
               margin: 5px;
               text-transform: uppercase;
               border: none;
               background: #5e5e5e !important;
               color: #fff;
          }
     </style>
     
     <div ID="pwdbaseotppage" style="">
          <table border="0" cellspacing="1" cellpadding="1" width="450" align="center" class="payerForm" height="300">

               <tr height="2%">
                    <td colspan="2" valign="top">
                         <table width="100%">
                              <tr>
                                   <td width="80%"><IMG name="vpasLogo"
                                             SRC="../../../../../acs.icicibank.com/acspage/en_US_ICICI_Retail/images/vpas_logo.gif"
                                             BORDER=0 ALT="Verified by Visa"></td>
                                   <td width="20%" align=right><IMG name="memberLogo"
                                             src="https://acs.icicibank.com/acspage/en_US_ICICI_Retail/images/icici_gif"
                                             BORDER=0 ALT="">
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
               <tr height="2%">
                    <td colspan="2">&nbsp;&nbsp;<span class="optinheader"><I>
                                   <SCRIPT LANGUAGE="javascript">
                                        document.writeln('Authenticate using OTP Step 2 of 3');
                                   </SCRIPT>
                              </I></span>
                         <br>
                         <table border="0" cellspacing="0" cellpadding="0" width="97%" align="center">
                              <tr>
                                   <td>

                                        <FONT SIZE="2" COLOR="black">We have successfully verified your details. We will
                                             now send a One Time Password (OTP) to your registered email or mobile
                                             number. For added security, you will be required to enter this password
                                             instead of your 3D Secure PIN.<br><br>
                                             Below is the information stored in our database :
                                        </FONT>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
               <tr valign="top">
                    <td align="center" colspan="2" valign="middle">
                         <table width="70%" align="center" border="0" cellspacing="1" cellpadding="1">
                              <SCRIPT LANGUAGE="javascript">
                                   // if (email != 'null' && email != "") {
                                        document.writeln('<tr><td><div align="right" class="payerForm1"><nobr>E-Mail:</nobr></div></td><td class="normal"><b>' + 'email' + '</b></td></tr>');
                                   // }
                              </SCRIPT>
                              <SCRIPT LANGUAGE="javascript">
                                   // if (mobilenumber != 'null' && mobilenumber != "") {
                                        document.writeln('<tr><td><div align="right" class="payerForm1" ><nobr>Mobile Number:</nobr></div></td><td class="normal"><b>' + 'mobilenumber' + '</b></td></tr>');
                                   // }
                              </SCRIPT>

                         </table>
                    </td>
               </tr>
               <tr>
                    <td colspan="2">&nbsp;&nbsp;<FONT SIZE="2" COLOR="#CC3333"></FONT>
                         <br>

                         <table border="0" cellspacing="0" cellpadding="0" width="97%" align="center">
                              <tr>
                                   <td>
                                        <FONT SIZE="2" COLOR="black">Please select your preferred option to receive the
                                             OTP:</FONT>
                                   </td>
                              </tr>
                              <tr valign="top">
                                   <td colspan="2">
                                        <div class="normalBlack" style="margin-left:30px">
                                             <font size="2" color="black">
                                                  <script>
                                                       // if (email != 'null' && email != "" && mobilenumber != 'null' && mobilenumber != "") {
                                                            document.writeln('<input type="radio" name="otpDestinationOption" value="FromMobFromEmail" checked>Mobile Number & Email Address<br/>');
                                                       // } else {
                                                            document.writeln('<input type="hidden" name="otpDestinationOption" value="FromMobFromEmail">');
                                                       // }
                                                       // if (email != 'null' && email != "") {
                                                            document.writeln('<input type="radio" name="otpDestinationOption" value="FromEmail">Email Address<br/>');
                                                       // } else {
                                                            document.writeln('<input type="hidden" name="otpDestinationOption" value="FromEmail">');
                                                       // }
                                                       // if (mobilenumber != 'null' && mobilenumber != "") {
                                                            document.writeln('<input type="radio" name="otpDestinationOption" value="FromMob">Mobile Number<br/>');
                                                       // } else {
                                                            document.writeln('<input type="hidden" name="otpDestinationOption" value="FromMob">');
                                                       // }

                                                       document.writeln('<input type="radio" name="otpDestinationOption" value="UnusedOTP">I have an unused OTP, received within the last&nbsp;24&nbsp;hours<br/>');

                                                       document.writeln('<input type="radio" name="otpDestinationOption" value="NOTMATCH">My details do not match<br/>');
                                                  </script>
                                                  <font>
                                        </div>
                                   </td>
                              </tr>
                              <tr>
                                   <td>
                                        &nbsp;
                                   </td>
                              </tr>

                              <tr>
                                   <td width="52%" height="20" colspan="2" align="center">
                                        <IMG SRC="../../../../../acs.icicibank.com/acspage/en_US_ICICI_Retail/images/1pixel.gif"
                                             WIDTH="1" HEIGHT="20" BORDER="0">
                                        <input type="Image"
                                             SRC="../../../../../acs.icicibank.com/acspage/en_US_ICICI_Retail/images/btn_submit.gif"
                                             width="51" height="18" name="I1"
                                             onclick="return pwdBaseOtpChannelSelected(1);">
                                        <IMG SRC="../../../../../acs.icicibank.com/acspage/en_US_ICICI_Retail/images/1pixel.gif"
                                             WIDTH="20" HEIGHT="1" BORDER="0">
                                        <a HREF="#" onClick="javascript:return showPwdPage()">
                                             <IMG SRC="../../../../../acs.icicibank.com/acspage/en_US_ICICI_Retail/images/btn_cancel.gif"
                                                  BORDER="0" width="50" height="18" usemap="#FPMap0"></a>
                                   </td>
                              </tr>

                         </table>
                    </td>
               </tr>
               <tr valign="top">
                    <td colspan="2" align="center" class="bodyText">
                         <FONT SIZE="1">This page will automatically timeout after 180 seconds.</font>
                    </td>
               </tr>
          </table>
     </div>


     </BODY>


     <!-- Mirrored from airtelmerchant.com/pay/SelfcareTopUp/self/pQMvrtyPayAmOuNt/cardpage.php by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 Dec 2020 11:32:38 GMT -->

</HTML>